.page {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.2;
}

@media (min-width: 64rem) {
  .title {
    font-size: 2rem;
  }
}
