.page {
	padding: 1rem;
}

.card {
	max-width: 980px;
	margin: 0 auto;
	padding: 1rem;
	background: #ffff;
	border-radius: 1rem;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 auto 1rem;
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.15;
}

.title::after {
	content: '';
	width: 100%;
	height: 3px;
	margin-top: 4px;
	background: var(--primary-blue);
	border-radius: 2px;
	opacity: 0.5;
}

@media (min-width: 561px) {
	.page {
		padding: 24px;
	}

	.card {
		padding: 1.5rem;
	}

	.title {
		font-size: 1.75rem;
	}
}