@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-blue: #4154FA;
  --white: #FFFFFF;
  --black: #000000;
  --background: #F3F4F6;
}

html{
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: inherit;
}