.header {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

.brand {
	display: flex;
	align-items: center;
	gap: .5rem;
}

.logo {
	width: 2rem;
	height: 2rem;
}

.title {
	margin: 0;
	font-size: 1.125rem;
}
